.block {
  max-width: 500px;
}

.box {
  padding: 20px;
  background-color: #fff;
  margin-top: 25px;
  border-radius: 15px;

  h1 {
    text-align: center;
  }
}

.input_margin {
  margin-bottom: 15px;
}

.alert {
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
}